<h1>Acerca de nosotros</h1>
<p>En ProyectoKaraoke nos gusta cantar y nos gusta que cante todo el mundo. Y por eso hemos creado el primer karaoke digital que te permite 
cantar allá donde estés, con el catálogo más amplio del mercado, y con las mejores y más avanzadas herramientas para hacer 
tu experiencia fácil y divertida. Y como cantar es un acto social, si lo deseas podrás grabarte cantando solo o con amigos 
y compartir ese momento en la Red.</p>


<h3>Un conjunto armónico</h3>
<br>
<div align=center>
   <%= image_tag "armonico.jpg"%>
</div>
<br>
<p>Para cumplir nuestra misión hemos combinado una serie de ingredientes clave: innovación y tecnología, contenidos, 
un gran equipo de trabajo con mucha experiencia en el sector, inversores de referencia que han confiado en el proyecto 
y socios de primer nivel para llegar juntos a donde nosotros solos no podemos.</p>

