<div align=center>
   <%= image_tag "terms.png"%>
</div>

<h2>Obligación de hacer un uso correcto del Portal y del Servicio.</h2>

<p>El Usuario tiene la obligación de hacer un uso correcto del Portal y de los Servicios, y para ello se compromete a utilizar 
el Portal y los Servicios de conformidad con la ley, las presentes Condiciones y demás avisos legales, reglamentos de uso e 
instrucciones puestos en su conocimiento, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público.

En particular, y a título meramente indicativo y no exhaustivo, el Usuario se compromete a no transmitir, 
difundir o poner a disposición de terceros informaciones, datos, contenidos, mensajes, gráficos, dibujos, 
archivos de sonido y/o imagen, fotografías, grabaciones, software y, en general, cualquier clase de material que:
<br>
<br>
(a) De cualquier forma sea contrario, menosprecie o atente contra los derechos fundamentales y las libertades públicas reconocidas
constitucionalmente, en los Tratados internacionales y en el resto de la legislación;<
<br>
<br>
(b) Induzca, incite o promueva actuaciones delictivas, denigratorias, difamatorias, infamantes, violentas o, en general, 
contrarias a la ley, a la moral y buenas costumbres generalmente aceptadas o al orden público;
<br>
<br>
(c) Induzca, incite o promueva actuaciones, actitudes o pensamientos discriminatorios por razón de sexo, raza, 
religión, creencias,edad o condición;
<br>
<br>
(d) Incorpore, ponga a disposición o permita acceder a productos, elementos, mensajes y/o servicios delictivos,
violentos, ofensivos, nocivos, degradantes o, en general, contrarios a la ley, a la moral y a las buenas costumbres 
generalmente aceptadas o al orden público;
<br>
<br>
(e) Induzca o pueda inducir a un estado inaceptable de ansiedad o temor;
<br>
<br>
(f) Induzca o incite a involucrarse en prácticas peligrosas, de riesgo o nocivas para la salud y el equilibrio psíquico;
<br>
<br>
(g) Sea falso, ambiguo, inexacto, exagerado o extemporáneo, de forma que induzca o pueda inducir a error sobre su objeto 
o sobre las intenciones o propósitos del comunicante;
<br>
<br>
(h) Se encuentre protegido por cualesquiera derechos de propiedad intelectual o industrial pertenecientes a terceros,
sin que el Usuario haya obtenido previamente de sus titulares la autorización necesaria para llevar a cabo el uso que efectúa o pretende efectuar;</li>
<br>
<br>
(i) Viole los secretos empresariales de terceros;
<br>
<br>
(j) Sea contrario al derecho al honor, a la intimidad o a la propia imagen de las personas;
<br>
<br>
(k) De cualquier manera menoscabe el crédito de PRESTADOR DE SERVICIOS o de terceros.
</p>
